
/src/helicon/webApps/denovo3D/__pycache__
/build
/src/helicon.egg-info
/src/helicon/webApps/image_stitching/__pycache__
.idea
src/helicon/commands/__pycache__/
src/helicon/__pycache__/
src/helicon/lib/__pycache__/
src/helicon/webApps/whereIsMyClass/__pycache__/
tests/__pycache__/
Icon_
